/Projeto_alunos_Grupo2/15_01_2023/ProjetoRefeitorio1/nbproject/private/
/Projeto_alunos_Grupo2/15_01_2023/ProjetoRefeitorio1/build/
/Projeto_alunos_Grupo2/15_01_2023/RFID_Limpo/nbproject/private/
/Projeto_alunos_Grupo2/15_01_2023/RFID_Limpo/build/
/Projeto_alunos_Grupo2/15_01_2023/ProjetoRefeitorio1/dist/
/Projeto_alunos_Grupo2/15_01_2023/RFID_Limpo/dist/
